<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ejemplo de Herencia de Estilos</title>
    <style>
        body {
            color: rgb(45, 190, 16);
            font-family: Verdana, sans-serif;
        }
        h1 {
            font-family: "Times New Roman", serif;
        }

        h2 {
            font-family: "Courier New", monospace;
        }

        h3 {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Tron</h1>  <!-- /* Times New Roman */ -->
    <h2>Tron consiguió algo que ninguna otra película de ciencia-ficción había conseguido: que nos creyéramos un detalle muy específico</h2>   <!-- /* Courier New */ -->
    <h3>Película de culto.</h3>   <!-- /* Arial */ -->

    <p>
        Aunque se vende que la primera Tron, de 1982, fue un espectacular fracaso, lo cierto es que dio dinero en taquilla y después se convirtió en película de culto del videoclub.
    </p>
</body>
</html>

