<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Problema 4</title>
    <style>
        .subrayado {
            color: #00aa00;
            text-decoration: underline;
        }
        .tachado {
            color: #00aa00;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <h1 class="subrayado">Final Fantasy 14 Director Reveals Collabs He Liked to See in the Future</h1>
    <p>
        Final Fantasy 14 director
        <span class="subrayado">Naoki Yoshida</span> 
        recently shared some of the collaborations
        <span class="tachado">he would love to see come to the</span> 
        Final Fantasy<code> MMORPG</code>.
    </p>
</body>
</html>
