<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Problema 5</title>
    <style>
        #cuerpo {
            background-color: #aef898;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        #pie {
            background-color: #f35b04;
            color: white;
            text-align: center;
            padding: 15px;
        }

        #cabecera {
            background-color: #83d0e4;
            color: white;
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div id="cabecera">
        <h1>El insólito origen medicinal de uno de los condimentos más consumidos del mundo</h1>
    </div>
    <div id="cuerpo">
        <p>Hoy el ketchup es sinónimo de complemento para hamburguesas, patatas fritas o perritos calientes. Está presente en más del 97% de los hogares</p>
    </div>
    <div id="pie">
        <p>La curiosa historia olvidada del ketchup.</p>
    </div>
</body>
</html>
